<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "勤怠システム", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップへ", root_path %></li>
        <% if logged_in? %>
        <%# byebug %>
            <% @flag = Flag.find(1) %>
            <%# session[:user_id]はusers#showで可変(管理者→一般ユーザーを選択した場合。) %>
            <%# if session[:user_id].to_i == 1 || current_user.name == "admin" %>
            <% if @flag.admin_flag == "true" %>
              <li><%= link_to "基本情報更新", basic_info_path(current_user) %></li>
              <li><%= link_to "ユーザー一覧", users_path %></li>
            <% end %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" >
                アカウント <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" >
                <li><%= link_to "勤怠表示画面", user_path(current_user) %></li>
                <li><%= link_to "プロフィール更新", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

